asgiref==3.2.7
certifi==2019.11.28
chardet==3.0.4
Django==3.0.2
django-pika-pubsub==0.6
django-qr-code==1.1.0
django-qrcode==0.3
django-rest-passwordreset==1.1.0
djangorestframework==3.11.0
docopt==0.6.2
ecdsa==0.15
filelock==3.0.12
greenlet==0.4.15
idna==2.9
image==1.5.28
itsdangerous==1.1.0
Logbook==1.5.3
pika==1.1.0
protobuf==3.18.3
psycopg2==2.8.4
pyaes==1.6.1
Pygments==2.6.1
pyscrypt==1.6.2
pytz==2019.3
qrcode==6.1
requests==2.23.0
six==1.14.0
SQLAlchemy==1.3.15
sqlparse==0.3.1
uritemplate==3.0.1
urllib3==1.25.8
virtualenv==20.0.10
