

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if status == 'OK' %}

<h1>Set a new password!</h1>
<form method="POST" action="/user/password_reset/confirm/">

    <input type="password" id="password" name="password" >
    <input type="hidden" id="email" name="email" value="{{ email }}">
    <input type="hidden" id="token" name="token" value="{{ token }}">
    <br>
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>"The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." </p>

{% endif %}
{% endblock %}

